.posts {

  @include lg-min {
    padding-top: $gap * 5;
    padding-bottom: $gap * 5;
  }
  @include lg-md {
    padding-top: $gap * 4;
    padding-bottom: $gap * 4;
  }
  @include md {
    padding-top: $gap * 3;
    padding-bottom: $gap * 3;
  }

  h2 {
    margin-top: 0;
  }


  &__container {
    @extend %container;
    //flex-flow: column;
    //padding-right: $gap;
    //padding-left: $gap;


    &__grid {
      //position: relative;
      display: grid;
      grid-gap: $gap;
      padding-bottom: $gap;

      @include lg-min {
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas: "p1 p1 p2 p3" "p4 p5 p6 p6";


      }

      @include lg-md {
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: "p1 p1 p2" "p3 p4 p4" "p5 p5 p6";

      }

      @include md-sm {
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas: "p1 p2" "p3 p4" "p5 p6";

      }

      @include sm {
        grid-template-columns: 1fr;
        grid-template-areas: "p1" "p2" "p3" "p4" "p5" "p6";

      }
    }

    &__button {

      display: block;

      height: 60px;
      padding: 18px $gap;

      transition: background-color 0.5s, border-color 0.5s;
      text-align: center;
      letter-spacing: 0.1em;

      border-width: 2px;
      border-style: solid;

      font-size: 1.125rem;

      &:hover,
      &:focus {
        background-color: $color-accent;
      }

      @include sm-min {
        display: flex;
        justify-content: center;
        min-width: 350px;
      }
      @include sm {
        width: 100%;
      }


    }
  }
}

