.posts {

  background-color: $color-light;


  @include lg-min {
    padding-top: $gap * 5;
    padding-bottom: $gap * 5;
  }

  @include lg-md {
    padding-top: $gap * 4;
    padding-bottom: $gap * 4;
  }

  @include md {
    padding-top: $gap * 3;
    padding-bottom: $gap * 3;
  }

  &__container {

    @extend %container;

    & h2 {
      font-family: $font-header;
      //font-weight: 900;
      line-height: 1.2em;
      letter-spacing: 0.1em;
      color: $color-primary;
      margin-top: 0;

      @include lg-min {
        font-size: 2.5rem;
        margin-bottom: 56px;

      }

      @include lg-md {

        font-size: 2rem;
        margin-bottom: 42px;
      }

      @include md-sm {

        font-size: 1.5rem;
        margin-bottom: 36px;
      }

      @include sm {

        font-size: 1.5rem;
        margin-bottom: 36px;
        text-align: center;
      }
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "p1 p1 p2 p3" "p4 p5 p6 p6";
    grid-gap: $gap;
    padding-bottom: $gap;
    }

  &__button
  {
    display: flex;

    justify-content: center;
    @include sm-min
    {
      margin-top: 30px;
      margin-bottom: 30px;
    }
  }
}

